/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-family: 'Libre Franklin', sans-serif;
}

header {
  background: white;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: lightgrey solid;
  position: sticky;
  top: 1px;
}

hr {
  border: black 1px solid;
  margin-bottom: 12px;
}

a {
  font-size: 16px;
}

p {
  font-size: 16px;
}

footer {
  color: white;
  background: black;
  padding: 15px 25px 15px 25px;
}

footer h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
}

.red-button {
  color: white;
  background: #e33d26;
  text-align: center;
  font-size: 11px;
  font-weight:700;
  border-radius: 20px;
  margin: 15px 110px 15px 110px;
}

.section-white-title {
  font-family: 'Sorts Mill Goudy', serif;
font-size: 24px;
line-height: 1.2;
font-weight: 400;
text-align: center;
margin: 15px 30px 15px 30px;
}

.section-white-text {
  font-size: 16px;
  text-align: center;
  margin: 0 15px 0 15px;
}

.section-white-name {
  text-align: center;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.section-grey {
  background: #ebede8;
  padding: 25px 15px 25px 15px;
}

.section-grey-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.section-grey-card {
  background: white;
  border: lightgrey solid;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
}

.card-text {
  padding: 20px;
}