/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-family: 'Libre Franklin', sans-serif;
}

header {
  background: white;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: lightgrey solid;
  position: sticky;
  top: 1px;
}

p {
  font-size: 16px;
  line-height:1.2;
}

a {
  font-size: 16px;
}

footer {
  color: white;
  background: black;
  padding: 15px 25px 15px 25px;
}

footer h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
}